/* Header container styling */
.header {
  background-color: #f8f9fa; /* Light background */
  padding: 5px 20px; /* Reduced padding to decrease header height */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  text-align: center; /* Ensures text alignment is center */
}

/* Logo styling */
.logo-container {
  text-align: center; /* Center-align logo */
}

.logo {
  max-width: 100%;
  height: 60px; /* Adjusted logo height for smaller header */
  display: inline-block;
}

/* Navigation links */
.header a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: color 0.3s ease;
}

.header a:hover {
  color: #007bff; /* Hover color */
}

.header a.active {
  color: #007bff; /* Active link color */
  font-weight: bold;
}

/* Search icon styling */
.search-icon {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #007bff; /* Hover color */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .header .MuiGrid-container {
    flex-direction: column;
    gap: 10px;
  }

  .logo {
    margin: 0 auto;
    height: 50px; /* Adjusted logo height for smaller screens */
  }

  .header a {
    font-size: 14px;
  }
}
